.nav-drawer {
    position: fixed;
    width: 300px;
    top: 0;
    left: -300px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    	align-content: flex-start;
    z-index: 9999;
}
.nav-drawer.opened {
    left: 0;
    transition: .35s;
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.nav-drawer.closed {
    left: -300px;
    transition: .35s;
}
.nav-drawer.touched {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.aside__header {
	cursor: pointer;
	min-height: 160px;
	height: 15%;
	display: flex;
	width: 100%;
	background:transparent url('../img/profile-background.png') no-repeat center/cover;
}
.aside__header__user {
	display: flex;
	align-self: flex-end;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	align-content: center;
	line-height: 1.5rem;
	font-size: .9rem;
	color: $grey--50;
	padding: .3rem .4rem;
	background-color: rgba(0,0,0,0.2);
}
.aside.active {
	opacity: 1;
	left: 0;
}
.aside__menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Roboto-Regular';
	font-size: .95rem;
	& ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		border-top: 1px solid $grey--300;
		&.user-menu {
			height: 10.5rem;
			transition: .3s;
			opacity: 1;
		}
		&.hidden {
			height: 0px;
			opacity: .0;
			overflow: hidden;
		}
		& li {
			display: flex;
			width: 100%;
			& a {
				&.current {
					background-color: $grey--100;
					color: $grey--900;
				}
				& i {
					font-size: 1.2rem;
					width: 1.2rem;
					height: 1.2rem;
				}
				& span {
					padding: 1rem;
					line-height: 1.5rem;
				}
				padding: 0 1rem;
				display: flex;
				align-items: center;
				width: 100%;
				line-height: 1rem;
				text-decoration: none;
				color: $grey--700;
				transition: .3s;
				&:hover {
					background-color: $grey--200;
				}
			}
		}
	}
}