.product {
	@include shadow4;
	width: 100%;
	margin: 1rem;
	display: flex;
	position: relative;
	flex-wrap: wrap;
	background-color: $white;
	padding: 1rem;
	&__header {
		display: flex;
	}
	&__title {
		-webkit-font-smoothing: antialiased;
		font-family: 'Roboto-Thin';
		margin: 0;
		padding: .5rem .25rem;
	}
	&__producer {
		font-family: 'Roboto-Light';
		padding: .25rem;

	}
	&__rating {
		line-height: auto;
		color: $pink--500;
		padding: .25rem;
	}
	&__price {
		font-size: 1.4rem;
		padding: .25rem;
	}
	&__img {
		display: flex;
		max-width: 30%;
		& img {
			width: 100%;
			height: 100%;
		}
	}
	&__info {
		display: flex;
		width: 100%;
	}
	&__photos {
		display: flex;
		width: 50%;
		flex-wrap: wrap;
		padding: 1rem;
		& h2 {
			margin: .5rem; 
			font-family: 'Roboto-Thin';
			width: 100%;
		}
		& img {
			width: calc(50% - 1rem);
			height: 100%;
			margin: .5rem;
		}
	}
	&__desc {
		display: flex;
		width: 50%;
		flex-wrap: wrap;
		padding: 1rem;
		align-content: flex-start;
		& h2 {
			margin: .5rem; 
			font-family: 'Roboto-Thin';
			width: 100%;
		}
		& p {
			line-height: 1.4rem;
			padding: .5rem;
		}
	}
}
.reviews {
	display: flex;
	width: 100%;
	&__rating {
		display: flex;
		width: 40%;
		flex-wrap: wrap;
		align-content: flex-start;
	}
}
.reviews .product__rating {
	width: 100%;
	line-height: 1;
	padding: 0;
	margin-left: -.25rem;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	& span {
		color: $blue--900;
	}
}