.progress-bar {
    float: left;
    background-color: #06121D;
    padding: 1px;
    height: 4vh;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    .progress-bar span {
        display: inline-block;
        height: 99%;
    }

        .progress-bar span span.persent {
            display: block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: auto;
            float: right;
            font-size: 3vh;
            vertical-align: central;
        }
.technology {
    color: #212121;
    width: 100%;
    display: inline-block;
    margin: .5vh 0;
}

    .technology p {
        float: left;
        font-size: 2.5vh;
        padding:.5vh 0;
        margin: 0;
        text-align: center;
    }
