.progress-bar {
    float: left;
    background-color: #06121D;
    padding: 0.25vh;
    height: 4vh;
    font-family: 'Armata', sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    .progress-bar span {
        display: inline-block;
        height: 3.5vh;
        padding: 0;
    }

        .progress-bar span span.persent {
            display: block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: auto;
            float: right;
            font-size: 3vh;
            vertical-align: central;
            padding: 0;
            margin: 0;
            text-shadow: 1px 1px 1px black, 0 0 1px blue;
        }
.technology {
    text-shadow: 1px 1px 1px black, 0 0 1px blue;
    color: white;
    width: 100%;
    display: inline-block;
    margin: .5vh 0;
    font-family: 'Armata', sans-serif;
}

    .technology p {
        float: left;
        font-size: 2.5vh;
        padding:.5vh 0;
        margin: 0;
        text-align: center;
    }
