.nephritis {
    background-color: #27ae60;
}

.emerald {
    background-color: #2ecc71;
}

.orange {
    background-color: #f39c12;
}

.sun {
    background-color: #f1c40f;
}

.pumpkin {
    background-color: #d35400;
}

.carrot {
    background-color: #e67e22;
}

.pomegranate {
    background-color: #c0392b;
}

.alizarine {
    background-color: #e74c3c;
}

.belize {
    background-color: #2980b9;
}

.river {
    background-color: #3498db;
}

.wisteria {
    background-color: #8e44ad;
}

.amethyst {
    background-color: #9b59b6;
}