.education-table {
    width: 100%;
    position: relative;
    display: inline-block;
}

    .education-table .date {
        margin: 0 0 .3vh 0;
        color: white;
        text-shadow: 1px 1px 1px black, 0 0 1px blue;
        padding: 1vh;
        font-size: 2vh;
        line-height: 2vh;
        text-align: center;
        font-family: 'Armata', sans-serif;
    }


    .education-table .study {
        margin: 0 0 .3vh 0;
        color: white;
        text-shadow: 1px 1px 1px black, 0 0 1px blue;
        padding: 1vh;
        font-size: 2vh;
        line-height: 2vh;
        text-align: center;
        font-family: 'Armata', sans-serif;
    }
