.row:before, .row:after {
	content: ::;
	display: table;
}
.row:after{
	clear: both;
}
.row{
	margin: 0;
	clear: both;
}
.col-1 {
	width: 8.3333333333%;
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.col-2 {
	width: 16.6666666666%;
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.col-3 {
	width: 25%;
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.col-4 {
	width: 33.3333333333%;
	float: left;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.col-5 {
	width: 41.6666666666%;
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.col-6 {
	width: 50%;
	float: left;
	margin: 0 0 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.col-7 {
	width: 58.3333333333%;
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.col-8 {
	width: 66.6666666666%;
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.col-9 {
	width: 75%;
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.col-10 {
	width: 83.3333333333%;
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.col-11 {
	width: 91.6666666667%;
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.col-12 {
	width: 100%;
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
