@media only screen and (max-width: 480px) {
    body {
        margin: 0 auto;
        padding: 0;
        height: 100%;
    }

    #top-wrapper {
        top: 0;
        left: 0;
        position: fixed;
        z-index: 9999;
        width: 100%;
        display: none;
    }

    #top-wrapper h1 {
        display: none;
    }

    header {
        width: 95%;
        height: 4vh;
        margin: 0 auto;
    }

    menu {
        margin: 0;
        padding: 0;
        display: block;
    }

    menu ul {
        margin: 0;
        display: block;
        padding: 0;
        list-style: none;
    }

    menu ul li {
        display: inline;
        margin: 0;
        padding: 0;
    }

    menu li a {
        font-size: 3vw;
        margin: 0;
        padding: 1vw;
        width: auto;
        float: left;
    }

    #main-wrapper {
        position: relative;
        width: 100%;
    }

    #about-me-wrapper {
        position: relative;
        z-index: 9998;
        width: 100%;
    }

    #about-me {
        width: 95%;
        padding: 0;
        margin: auto;
        overflow: hidden;
    }

    #about-me #left {
        float: left;
        position: relative;
        width: 95%;
        clear: both;
    }

    #about-me p.hi {
        padding: 0;
        margin: 0;
        font-size: 5vh;
    }

    #about-me p {
        font-size: 4vh;
    }

    #about-me #right {
        display: none;
    }

    #about-me #right img {
        margin: auto;
        max-width: 95%;
    }

    #capabilities-wrapper {
        position: relative;
        z-index: 9997;
        padding-top: 4vh;
        margin-top: -4vh;
        width: 100%;
    }

    #education-wrapper {
        position: relative;
        z-index: 9996;
        padding-top: 4vh;
        margin-top: -4vh;
        width: 100%;
    }

    #education {
        width: 95%;
        padding: 0;
        margin: auto;
        overflow: hidden;
    }
    .education-table .date {
        clear: both;
        width: 100%;
        margin-bottom: 0;
    }


    .education-table .study {
        clear: both;
        width: 100%;
    }
    #capabilities {
        width: 95%;
        padding: 0;
        margin: auto;
        overflow: hidden;
    }

    .technology p {
        width: 100%;
        margin: 0;
    }

    .progress-bar {
        width: 100%;
    }

    .progress-bar span {
        display: inline-block;
        height: 3vh;
        width: 100%;
    }

    #projects-wrapper {
        position: relative;
        z-index: 9995;
        padding-top: 4vh;
        margin-top: -4vh;
        width: 100%;
    }

    #projects {
        width: 95%;
        padding: 0;
        margin: auto;
        overflow: hidden;
    }

    #projects .project {
        width: 95vw;
        position: relative;
        float: left;
    }

    #projects .more {
        clear: both;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }

    #projects .more a {
        margin: 2vh;
        display: inline-block;
        padding: 2vh;
    }
    #projects .project:hover{
        opacity: 0.8;
    }
    #projects .project a img {
        max-width: 100%;
    }

    #projects .project a img:hover {
        opacity: 0.7;
    }

    #capabilities h2, #education h2, #projects h2 {
        font-size: 3vh;
    }

    #footer-wrapper {
        position: relative;
        z-index: 9994;
        padding-top: 4vh;
        width: 100%;
    }

    #footer {
        width: 95%;
        height: auto;
        padding: 0;
        margin: auto;
        overflow: hidden;
    }

    #footer-left {
        width: 100%;
        float: left;
        position: relative;
        display: none;
    }

    #footer-left div {
        float:left;
        /*margin: 1vh;*/
        width: 33.333333333%;
        position: relative;
        padding: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #footer-left div > *{
        margin: 0 auto;
    }

    #footer-middle {
        padding: 0;
        height: 100%;
        width: 100%;
        float: left;
        position: relative;
    }

    #footer-middle ul {
        text-align: justify;
        line-height: 0;
        margin: 2vh 0;
        padding: 0;
    }

    #footer-middle ul:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }

    #footer-middle ul li {
        font-size: 5vh;
        display: inline-block;
        text-align: left;
    }

    #footer-middle ul li a {
        display: block;
    }

    #footer-right {
        display:none;
    }
}
