menu {
    margin: 0;
}

menu ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

menu ul li {
    display: inline-block;
    vertical-align: center;
    margin: 0;
        margin: 1vh 0;
    padding: 2vh 1vw;
}

menu li a {
    color: #FFF;
    float: left;
    font-size: 2vh;
    line-height: 20px;
}

menu li {
    font-family: 'NexaLight';
}

menu li:hover {
    /*color: #FF5252;*/
    background: rgba(100,100,100,.3);
}