.nav-drawer {
	position: fixed;
	width: 280px;
	top: 0;
	left: -100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	z-index: 4;
	bottom : 0;
	background-color: #fafafa;
	& header {
		height: 148px;
		box-sizing: border-box;
		position: relative;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		align-content: space-between;
		background: url('./app/img/drawer-bg.jpg') center/cover;
		& .icons {
			width: 100%;
			display: flex;
			padding: 16px 16px 4px 16px;
			height: 84px;
			justify-content: space-between;
			align-items: flex-start;
			align-content: flex-start;
			&__account {
				border-radius: 50%;
				width: 64px;
				height: 64px;
				display: flex;
				align-content: center;
				align-items: center;
				justify-content: center;
				& img {
					border-radius: 50%;
					height: 64px;
					width: 64px;
					overflow: hidden;
				}
			}
			&__secondary {
				border-radius: 50%;
				width: 40px;
				height: 40px;
				display: flex;
				align-content: center;
				align-items: center;
				justify-content: center;
				& img {
					border-radius: 50%;
					height: 40px;
					width: 40px;
					overflow: hidden;
				}
			}
		}
		& .subheader {
			height: 64px;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			width: 100%;
			padding: 8px 16px;
			align-content: center;
				align-items: center;
			&__name {
				width: 100%;
				font-family: "Roboto";
				font-weight: 500;
				font-size: 14px;
				color: #ffffff;
			}
			&__email {
				width: 100%;
				font-family: "Roboto";
				font-weight: 400;
				font-size: 14px;
				color: #ffffff;
				display: flex;
				justify-content: space-between;
				align-content: center;
				align-items: center;
			}
		}
	}
}
.content {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
	&:first-child {
		margin-top: 8px;
	}
	&__header {
		height: 48px;
		width: 100%;
		line-height: 48px;
		padding: 0 16px;
		opacity: .54;
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 14px;
	}
	&__item {
		width: 100%;
		height: 48px;
		display: flex;
		align-content: center;
		align-items: center;
		& a {
			display: flex;
			align-content: center;
			align-items: center;
			width: 100%;
			height: 48px;
			text-decoration: none;
			color: #000;
			&:hover {
				background-color: #d9d9d9;
			}
			& i {
				padding: 0 16px;
				opacity: .54;
				line-height: 48px;
				font-size: 26px;
			}
			& span {
				opacity: .87;
				width: 100%;
				line-height: 48px;
				padding: 0 16px;
				font-family: 'Roboto';
				font-size: 14px;
				white-space: nowrap; 
  				overflow: hidden; 
    			text-overflow: ellipsis; 
			}
		}
	}
}
.nav-drawer.closed {
	left: -100%;
	transition: .35s;
}
.nav-drawer.touched {
	box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.nav-drawer.opened {
	overflow-y: auto;
	left: 0;
	transition: .35s;
	box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}