<section class="content container">
	<article class="product">
		<header class="product__header">
			<div class="product__img">
				<img src="/app/content/img/turtle.jpg" alt="">
			</div>
			<div class="product__maininfo">
				<h1 class="product__title">Product 1</h1>
				<h3 class="product__producer">Producer</h3>
				<div class="product__rating">
					<i class="material-icons">star</i>
					<i class="material-icons">star</i>
					<i class="material-icons">star</i>
					<i class="material-icons">star</i>
					<i class="material-icons">star_border</i>
				</div>
				<div class="product__price">200.00</div>
				<md-button class="md-raised md-primary">
					<md-icon class="material-icons">add_shopping_cart</md-icon>
					купить </md-button>
				</div>
			</header>
			<div class="product__info">
				<div class="product__photos">
					<h2>Фото</h2>
					<img src="/app/content/img/turtle.jpg" alt="">
					<img src="/app/content/img/turtle.jpg" alt="">
					<img src="/app/content/img/turtle.jpg" alt="">
					<img src="/app/content/img/turtle.jpg" alt="">
				</div>
				<div class="product__desc">
					<h2>Описание</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit maiores, incidunt quidem natus. Ut dolorum deleniti reiciendis tenetur illum, beatae cum, molestiae laborum, nisi omnis nulla laboriosam, ipsam nemo consectetur.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, ex?</p>
				</div>
			</div>
		</article>
	</section>
