<section class="content container">
    <div class="main-cart">
        <div class="cart">
            <div class="production">
                <div class="cart-production">
                    <div class="production-img"> <img src="./app/content/img/turtle.jpg" alt="production"> </div>
                    <div class="title">
                        <h2>Черепашка</h2></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, cumque expedita eius, corporis sed consequatur porro fugit placeat iure minus fuga laborum quisquam, blanditiis tempora. Nemo illo ex optio error!</p>
                    </div>
                    <div class="flex-content">
                        <div class="price">
                            <h2>200</h2></div>
                        <div>
                            <md-input-container>
                                <label>How much</label>
                                <input required type="number" min="0" step="any" value="1" class="input-items"> </md-input-container>
                        </div>
                        <div class="over-price">
                            <h2>200</h2></div>
                        <div>
                            <md-button>
                                <md-icon>close</md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
                <div class="cart-production">
                    <div class="production-img"> <img src="./app/content/img/turtle.jpg" alt="production"> </div>
                    <div class="title">
                        <h2>Черепашка</h2></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, cumque expedita eius, corporis sed consequatur porro fugit placeat iure minus fuga laborum quisquam, blanditiis tempora. Nemo illo ex optio error!</p>
                    </div>
                    <div class="flex-content">
                        <div class="price">
                            <h2>200</h2></div>
                        <div>
                            <md-input-container>
                                <label>How much</label>
                                <input required type="number" min="0" step="any" value="1" class="input-items"> </md-input-container>
                        </div>
                        <div class="over-price">
                            <h2>200</h2></div>
                        <div>
                            <md-button>
                                <md-icon>close</md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accept-order">
                <md-button>Cancel order</md-button>
                <md-button class="accept">Create order</md-button>
            </div>
        </div>
    </div>
</section>