html
{
    position: relative;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow-x: hidden; 

    width: 100%;
    height: auto;
}

body
{
    font-family: 'Roboto-Regular';

    position: relative;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow-x: hidden; 

    width: 100%;

    background-color: #eee;

    -webkit-font-smoothing: antialiased;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.main
{
    position: relative; 

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    transition: .35s;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.btn
{
    display: inline;

    margin: 1rem;
    padding: .5rem;

    cursor: pointer;
    transition: .3s; 

    border: none;
    border-radius: 2px;
    background-color: #e0e0e0;
}
.btn:hover
{
    color: #fff; 
    background-color: #9e9e9e;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.btn:focus
{
    outline: none;
}
.btn--submit
{
    text-transform: uppercase;
}
.btn--submit:hover
{
    background-color: #03a9f4;
}

.nav-drawer
{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: -100%;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow-y: scroll; 

    width: 280px;
    max-width: 280px;
    height: 100vh;

    background-color: #fafafa;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
            align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
            align-content: flex-start;
}
.nav-drawer header
{
    position: relative;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    box-sizing: border-box;
    width: 100%;
    height: 148px;

    background: url('../img/drawer-bg.jpg') center/cover; 

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
            align-content: space-between;
}
.nav-drawer header .icons
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    height: 84px;
    padding: 16px 16px 4px 16px;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
            align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
            align-content: flex-start;
}
.nav-drawer header .icons__account
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 64px;
    height: 64px;

    border-radius: 50%;

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.nav-drawer header .icons__account img
{
    overflow: hidden; 

    width: 64px;
    height: 64px;

    border-radius: 50%;
}
.nav-drawer header .icons__secondary
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.nav-drawer header .icons__secondary img
{
    overflow: hidden; 

    width: 40px;
    height: 40px;

    border-radius: 50%;
}
.nav-drawer header .subheader
{
    position: relative;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    height: 64px;
    padding: 8px 16px;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.nav-drawer header .subheader__name
{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;

    width: 100%;

    color: #fff;
}
.nav-drawer header .subheader__email
{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;

    color: #fff;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.content
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%; 

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.list
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
            align-items: flex-start;
}
.list__header
{
    font-family: 'Roboto';
    font-size: 14px; 
    font-weight: 500;
    line-height: 48px;

    width: 100%;
    height: 48px;
    padding: 0 16px;

    opacity: .54;
}
.list__item
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    height: 48px;

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.list__item a
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    height: 48px;

    text-decoration: none;

    color: #000; 

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.list__item a i
{
    font-size: 26px; 
    line-height: 48px;

    padding: 0 16px;

    opacity: .54;
}
.list__item a span
{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 48px;

    overflow: hidden;

    width: 100%;
    padding: 0 16px;

    white-space: nowrap;
    text-overflow: ellipsis; 

    opacity: .87;
}

.nav-drawer.opened
{
    left: 0;

    transition: .35s;

    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
}

.nav-drawer.closed
{
    left: -100%;

    transition: .35s;
}

.nav-drawer.touched
{
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
}

@media screen and (min-width: 960px)
{
    .nav-drawer
    {
        left: 0;

        transition: .35s;

        box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
    }
    .main
    {
        width: calc(100% - 280px);
        margin-left: 280px;
    }
}

.content
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 0 auto;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.content.active-fixed,
footer.active-fixed
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: calc(100% - 300px);
    margin-left: 300px;

    transition: .35s; 

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.header-wrapper
{
    position: relative;
    z-index: 100;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;

    color: #fff;
    background-color: #03a9f4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12); 

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.header-wrapper--fixed
{
    position: fixed;
    top: 0;
    right: 0;

    width: calc(100% - 300px);
}

.search-button
{
    position: relative; 

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 4rem;
    height: 4rem;
    margin: 0 0 0 auto;

    border: none;
    outline: none;
    background-color: transparent;

    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.search-button i
{
    font-size: 2rem;

    color: #fff;
}

.header
{
    font-family: 'Roboto-Regular';

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    height: 4rem;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.header__logo
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    height: 100%;
}
.header__logo a
{
    padding: 0 1rem;
}
.header__logo .hamburger
{
    display: none;
}
.header__logo .sitename
{
    font-family: 'Roboto-Regular';
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 4rem;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;

    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
}
.header__search
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 40rem;
    max-width: 50%; 
    height: 3rem;
    margin: 0 0 0 auto;
}
.header__search input
{
    font-size: 1.4rem;

    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: .5rem;

    border: none;
    border-radius: 0;
}
.header__search input:focus
{
    outline: none;
}
.header__search button
{
    font-size: 3rem;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    min-width: 3rem;
    height: 100%;

    cursor: pointer;
    transition: .4s; 

    color: white;
    border: none;
    outline: none;
    background-color: transparent;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.header__search button[type='submit']
{
    display: none; 

    color: black;
    background-color: #fff;
}
.header__search button i
{
    font-size: 2.5rem;

    display: block;

    margin: auto;
}
.header__shoppingcart
{
    position: relative; 

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 4rem;
    height: 4rem;

    text-decoration: none;

    background-color: transparent;

    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.header__shoppingcart i
{
    font-size: 3rem;

    color: #fff;
}
.header__shoppingcart span
{
    position: absolute;
    top: .5rem;
    right: .5rem;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 1.5rem;
    height: 1.5rem; 

    color: white;
    border-radius: 50%;
    background-color: #2962ff;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 960px)
{
    .header-wrapper--fixed
    {
        position: fixed;
        top: 0;
        right: 0; 

        width: 100%;
    }
    .header__logo .hamburger
    {
        line-height: 4rem;

        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        padding: 1rem 0 1rem 1rem;

        cursor: pointer; 

        color: #fff;
        border: none;
        outline: none;
        background-color: transparent;

        -webkit-align-self: center;
        -ms-flex-item-align: center;
                align-self: center;
    }
    .header__search
    {
        position: absolute;
        z-index: 100;
        top: -100%;

        width: 100%;
        max-width: 100%;

        transition: .4s;
    }
    .header__search button
    {
        font-size: 3rem;

        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        min-width: 3rem;
        height: 100%;

        cursor: pointer;
        transition: .4s; 

        color: white;
        border: none;
        outline: none;
        background-color: transparent;

        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
    }
    .header__search button.search__exit
    {
        position: absolute;
        left: 0; 

        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        color: #616161;
        background-color: #fff;
    }
    .header__search button.search__submit
    {
        position: absolute;
        right: 0; 

        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        color: #616161;
        background-color: #fff;
    }
    .header__search button i
    {
        font-size: 2.5rem;

        display: block;

        margin: auto;
    }
    .header__search.active
    {
        top: 0;
        left: 0;

        height: 100%;
    }
}

.header__controls
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.header__controls > *
{
    position: relative; 

    height: 2rem;
    margin: 1rem;
}
.header__controls i
{
    font-size: 2rem;
}

.form__buttons
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
}

.inputbox
{
    position: relative; 

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 1.2rem 1rem 0 1rem;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.inputbox__input
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    padding: .35rem;

    border: none;
    border-bottom: 1px solid #e0e0e0;
}
.inputbox__input:focus
{
    outline: none;
}
.inputbox__label
{
    position: absolute;
    top: .35rem;
    left: .35rem;

    transition: .4s; 

    color: #757575;
}
.inputbox__highlight
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;

    transition: .4s;

    background-color: #e3f2fd;
}

.inputbox__input:focus ~ .inputbox__label,
.inputbox__input:valid ~ .inputbox__label
{
    font-size: .8rem;

    top: -.875rem;

    color: #9e9e9e;
}

.inputbox__input:focus ~ .inputbox__highlight,
.inputbox__input:valid ~ .inputbox__highlight
{
    width: 100%;

    background-color: #2196f3;
}

.item
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: calc(25% - 2rem);
    width: 300px;
    min-width: 300px;
    max-width: calc(25% - 2rem);
    min-height: 1px;
    margin: 1rem auto;

    border-radius: 2px;
    background-color: #fff; 
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
            flex-grow: 2;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.item__img
{
    width: 100%;
}
.item__img img
{
    width: 100%;
}
.item__header
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    padding: 1rem;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.item__header h2
{
    font-family: 'Roboto-Light'; 

    color: #424242;
}
.item__descr
{
    font-size: .875rem;
    line-height: 1.2rem;

    margin-top: -1rem;
    padding: 1rem;

    color: #9e9e9e;
    border-bottom: 1px solid #e0e0e0;
}
.item__controls
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    padding: .5rem;

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.item__controls .readmore
{
    font-size: .875rem;

    padding: .5rem;

    transition: .3s; 
    text-decoration: none;
    text-transform: uppercase;

    color: #0d47a1;
    border-radius: 2px;
}
.item__controls .readmore:hover
{
    background-color: #fafafa;
}
.item__controls .rightbuttons
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
            justify-content: flex-end;
}
.item__controls .rightbuttons md-icon
{
    color: #03a9f4;
}

.product
{
    position: relative;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    margin: 1rem;
    padding: 1rem; 

    background-color: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.product__header
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.product__title
{
    font-family: 'Roboto-Thin';

    margin: 0;
    padding: .5rem .25rem; 

    -webkit-font-smoothing: antialiased;
}
.product__producer
{
    font-family: 'Roboto-Light';

    padding: .25rem;
}
.product__rating
{
    line-height: auto;

    padding: .25rem; 

    color: #e91e63;
}
.product__price
{
    font-size: 1.4rem;

    padding: .25rem;
}
.product__img
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    max-width: 30%;
}
.product__img img
{
    width: 100%;
    height: 100%;
}
.product__info
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
}
.product__photos
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 50%;
    padding: 1rem; 

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.product__photos h2
{
    font-family: 'Roboto-Thin';

    width: 100%; 
    margin: .5rem;
}
.product__photos img
{
    width: calc(50% - 1rem);
    height: 100%;
    margin: .5rem;
}
.product__desc
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 50%;
    padding: 1rem;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
            align-content: flex-start;
}
.product__desc h2
{
    font-family: 'Roboto-Thin';

    width: 100%; 
    margin: .5rem;
}
.product__desc p
{
    line-height: 1.4rem;

    padding: .5rem;
}

.reviews
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
}
.reviews__rating
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 40%;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
            align-content: flex-start;
}

.reviews .product__rating
{
    line-height: 1;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    margin-left: -.25rem;
    padding: 0;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.reviews .product__rating span
{
    color: #0d47a1;
}

*
{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.tooltip
{
    font-size: .875rem;

    position: absolute;
    bottom: -1rem;
    left: calc(50% - 2.5rem);

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    visibility: hidden;

    min-width: 5rem;
    max-height: 2rem;
    padding: .5rem;

    transition: .3s; 
    white-space: nowrap;

    opacity: 0;
    border-radius: 2px;
    background-color: #616161;
}

*:hover > .tooltip
{
    bottom: -2.5rem; 

    visibility: visible;

    opacity: .9;
}

@font-face
{
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons
{
    font-family: 'Material Icons';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    /* Preferred icon size */

    display: inline-block;

    white-space: nowrap;
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;

    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
}

@font-face
{
    font-family: 'Roboto-Black';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

@font-face
{
    font-family: 'Roboto-BlackItalic';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-BlackItalic.ttf) format('truetype');
}

@font-face
{
    font-family: 'Roboto-Bold';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face
{
    font-family: 'Roboto-BoldItalic';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-BoldItalic.ttf) format('truetype');
}

@font-face
{
    font-family: 'Roboto-Italic';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-Italic.ttf) format('truetype');
}

@font-face
{
    font-family: 'Roboto-Light';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face
{
    font-family: 'Roboto-LightItalic';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
}

@font-face
{
    font-family: 'Roboto-Medium';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face
{
    font-family: 'Roboto-MediumItalic';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-MediumItalic.ttf) format('truetype');
}

@font-face
{
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face
{
    font-family: 'Roboto-Thin';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-Thin.ttf) format('truetype');
}

@font-face
{
    font-family: 'Roboto-ThinItalic';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/Roboto-ThinItalic.ttf) format('truetype');
}

::-webkit-scrollbar
{
    display: none;
}

scrollbar
{
    display: none;
}
