        <md-whiteframe class="regitration md-whiteframe-4dp">
          <div class="regitration-conteiner">
            <div class="main-form">
             <md-content class="md-padding _md">
              <md-input-container class="md-block">
                <label for="input_4">E-mail</label>
                <input type="email" class="md-input" id="input_4"><div class="md-errors-spacer"></div>
              </md-input-container>
              <md-input-container class="md-block">
                <label for="input_5">Password</label>
                <input type="password" class="md-input" id="input_5"><div class="md-errors-spacer"></div>
              </md-input-container>
              <md-input-container class="md-block">
                <label for="input_5">Repeat password</label>
                <input type="password" class="md-input" id="input_5"><div class="md-errors-spacer"></div>
              </md-input-container>
              <md-input-container class="md-block">
                <label for="input_4">Name</label>
                <input type="text" class="md-input" id="input_4"><div class="md-errors-spacer"></div>
              </md-input-container>
              <section layout="row" layout-align="end end" class="layout-align-end-end layout-row">
                <md-button class="md-accent" type="button">Sign In</md-button>
              </section>
            </md-content>
          </div>
        </div>
      </md-whiteframe>  
      </div>  
