.textfield {
	margin: 1.5rem 1rem;
	position: relative;
	font-size: 1.3rem;
	display: inline-block;
	box-sizing: border-box;
	width: calc(100% - 6rem);
	max-width: 100%;
	transform-origin: 0 0 0;
	&__input {
		border: none;
		font-size: 1.4rem;
		border-bottom: 1px solid $grey--100;
		display: block;
		padding: .6rem .6rem .6rem .3rem;
		width: 100%;
		background: none;
		text-align: left;
		color: inherit;
		font-family: 'Roboto-Light';
		&:focus {
			outline: none;
		} 
	}
	&__label {
		bottom: 0;
		font-size: 1.2rem;
		left: .3rem;
		top: .6rem;
		pointer-events: none;
		position: absolute;
		display: block;
		width: 100%;
		-webkit-transition: all .2s ease;
	}
	&__bar {
		position: relative;
		display: block;
		width: 100%;
		&:before, &:after {
			content: '';
			height: 2px;
			width:0;
			bottom: 1px;
			position: absolute;
			background: $grey--100;
			-webkit-transition: all .2s ease;
		}
		&:before {
			left: 50%
		}
		&:after {
			right: 50%;
		}
	}
}
input:focus ~ label, input:valid ~ label {
	top: -1.1rem;
	font-size: 1rem;
	color: $white;
}
input:focus ~ .textfield__bar:before, input:focus ~ .textfield__bar:after  {
	width: 50%;
}

textarea:focus ~ label, textarea:valid ~ label {
	top: -1.1rem;
	font-size: 1rem;
	color: $white;
}
textarea:focus ~ .textfield__bar:before, textarea:focus ~ .textfield__bar:after  {
	width: 50%;
}
.form__submit {
	border:none;
	cursor:pointer;
	color: $grey--100;
	margin: auto;
	display: flex;
	font-size: 1.5rem;
	text-transform: uppercase;
	padding: 1rem 1.5rem;
	background-color: $pink--500;
	transition: .2s linear;
	overflow: hidden;
	&:hover {
		background-color: $pink--700;
		// animation: sending 3s ease;
	}
	&--active {
		background-color: $pink--900;
		transition: .75s;
		&:hover {
			background-color: $pink--900;
		}
	}
	& i {
		float: left;
		margin-right: 2px;
		position: relative;
		// animation: sending 3s ease;
		&.sending {
			animation: sending .75s linear;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-fill-mode: backwards;
		}
	}
}
@keyframes sending {
	0% {
		right: 0;
	}
	49% {
		right: -9rem;
	}
	50% {
		display: none;
		right: 9rem;
	}
	51% {
		display: block;
		right: 9rem;
	}
	100% {
		right: 0;
	}
}
